<fieldset>
    <legend>Doctor Details</legend>
    <% include('./commonFields'); %>
    <div class="form-group">
        <label for="doctor_speciality">Speciality:</label>
        <input type="text" class="form-control" name="speciality" id="doctor_speciality" required>
    </div>
    <div class="form-group">
        <label for="doctor_license">License Number:</label>
        <input type="text" class="form-control" name="license" id="doctor_license" required>
    </div>
</fieldset>
