<fieldset>
    <legend>Personal Details</legend>
    <% include('./commonFields'); %>
    <div class="form-group">
        <label for="illness">Illness:</label>
        <input type="text" class="form-control" name="illness" id="illness" required>
    </div>
</fieldset>
