<header>
    <nav>
      <ul>
        <li><a href="/home" class="btn btn-primary">Home</a></li>
        <li><a href="/login" class="btn btn-primary">Login</a></li>
        <li><a href="/register" class="btn btn-primary">Register</a></li>
      </ul>
    </nav>
  </header>
  