<div class="form-group">
    <label for="first_name">First Name:</label>
    <input type="text" class="form-control" name="first_name" id="first_name" required>
</div>
<div class="form-group">
    <label for="last_name">Last Name:</label>
    <input type="text" class="form-control" name="last_name" id="last_name" required>
</div>
<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" id="email" required>
</div>
<div class="form-group">
    <label for="phone">Phone:</label>
    <input type="tel" class="form-control" name="phone" id="phone" required>
</div>
<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" required>
</div>
<div class="form-group">
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" class="form-control" name="confirm_password" id="confirm_password" required>
</div>
<div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" id="terms" name="terms" required>
    <label for="terms" class="form-check-label">I agree to the Terms and Conditions</label>
</div>
